<!DOCTYPE html>
<html>

<head>
  <title>交易成功</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
  </h1>
  <article>
    如果付款成功，等餐點送達時，我們會以電話通知。如果付款失敗或有其他疑問，可以撥打電話0956909890。
  </article>
</body>

</html>